@import './normalize.css';
@import './colors.css';

body {
  background-image: url('../images/bk_img.jpg');
  background-position: center;
  background-size: cover;
}

.container {
  margin: 30px auto;
  text-align: center;
}

.grid-container {
  /* background-color: var(--def-color); */
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 20% 1fr 5%;

  grid-template-areas:
    'hdr hdr'
    'sd main'
    'ftr ftr';

  width: 90vw;
  height: 95vh;

  grid-gap: 30px;
}

.head {
  grid-area: hdr;
  /* background-color: yellowgreen; */
  position: sticky;
  top: 0px;
}

.nav {
  background-color: rgba(211, 231, 238, 0.068);
  padding: 10px;
}

.logo {
  height: 150px;
  opacity: 0.5;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

a {
  color: var(--def-color);
  font-size: 1.4rem;
  font-weight: bolder;
}

.side {
  grid-area: sd;
  /* background-color: cyan; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  color: var(--def-color);
  font-size: 1.4rem;

  overflow: auto;
}

.side-menu li {
  padding: 20px;
}

.main-section {
  grid-area: main;
  /* background-color: hotpink; */
  text-align: center;
}

.main-section h1 {
  color: var(--def-color);
  font-size: 2.4rem;
  font-weight: bolder;
  text-align: center;
  line-height: 1.3;
}

.main-section p {
  color: var(--def-color);
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.3;
  margin: 25px;
  overflow: auto;
}

.foot {
  grid-area: ftr;
  /* background-color: steelblue; */
  position: sticky;
  bottom: 0px;
  background-color: rgba(211, 231, 238, 0.068);
}

.copyright {
  color: var(--def-color);
  font-size: 1.4rem;
}
