@import './normalize.css';
@import './utils.css';
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  background-color: var(--def-color);
  font-family: 'Niconne', cursive, 'Roboto', Sans-Serif;
}

* {
  box-sizing: border-box;
}

.anchor {
  color: var(--def-color);
  font-size: 1.4rem;
  font-weight: bolder;
}

a:hover {
  color: magenta;
}
