.main-section {
  grid-area: main;
  background-color: var(--primary-color);

  border-radius: 10px;
  overflow: auto;
  margin: 5px;
}

.main-section h1 {
  color: var(--def-color);
  font-size: 2.4rem;
  font-weight: bolder;
  line-height: 1.3;
  padding: 10px;
}

.main-section h2 {
  color: var(--def-color);
  font-size: 1.9rem;
  font-weight: bolder;
  line-height: 1.3;
  padding: 10px;
}

.main-section p {
  color: var(--def-color);
  font-size: 1.4rem;
  line-height: 1.3;
  margin: 25px;
}

.main-container {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'title'
    'card';
  grid-gap: 5px;
}

.main-title {
  grid-area: title;
  border-radius: 10px;
}

.card-container {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 'card card';
  grid-gap: 20px;

  padding: 20px;
}

.blog-button {
  color: var(--def-color);
  margin-left: auto;
  border: 1px groove;
  border-radius: 10px;
  padding: 10px;
}

.card-title {
  text-decoration: underline;
}

.card {
  background-size: cover;
  background-position: center;
  border-radius: 10px;

  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;

  overflow: hidden;
  padding: 20px;
}

.desc-decor {
  text-transform: capitalize;
}

.card1 {
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    url('../images/bk_img.jpg');
}

.card2 {
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    url('../images/Nature.jpg');
}

/* Media Queries */

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (max-width: 991px) {
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'card'
      'card';
    grid-gap: 20px;
  }
}
